<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Sidebar  -->
    <div class="iq-sidebar">
     <app-leftbar></app-leftbar>        
    </div>
    <!-- TOP Nav Bar -->
    <div class="iq-top-navbar">
       <app-topbar></app-topbar>
    </div>
    <!-- TOP Nav Bar END -->
    <!-- Right Sidebar Panel Start-->
    
    <div class="right-sidebar-mini">
       <app-rightbar></app-rightbar>
    </div>
    <!-- Right Sidebar Panel End-->
    
    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <app-post></app-post>
    </div>
  </div>
  <!-- Wrapper END -->
  <!-- Footer -->
  <app-footer></app-footer>
  <!-- Footer END -->